@using Game.Server.Models.Admin;
@model StatisticsResponse;

<div class="d-flex justify-content-evenly mb-5">
    <div class="d-flex flex-column align-items-center p-5 border shadow-sm rounded-4 border-success text-success">
        <span>Players</span>
        <span class="fs-1">
            @Model.PlayerCount
        </span>
    </div>

    <div class="d-flex flex-column align-items-center p-5 border shadow-sm rounded-4 border-success text-success">
        <span>Sessions</span>
        <span class="fs-1">
            @Model.SessionCount
        </span>
    </div>
</div>

@foreach (var level in Model.LevelStatistics)
{
    <p class="fs-2">@level.LevelName</p>
    <table class="table mb-3">
    <tr>
        <th>Player name</th>
        <th>Time (ms)</th>
    </tr>

    @foreach (var record in level.TopTen)
        {
            <tr>
                <td>@record.PlayerName</td>
                <td>@record.TimeInMilliseconds</td>
            </tr>
        }
    </table>
}